@model GSTEducationERPLibrary.Trainer.Trainer

@{
    ViewBag.Title = "DetailsAssignScheduleAsyncVP";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<html lang="en" style="height: auto;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Bootstrap styles -->
    @*<link rel="stylesheet" href="~/Content/plugins/bootstrap/css/bootstrap.min.css">*@
    <style>
        h2 {
            color: #64bbc9;
            font-weight: bold;
            font-size: 20px;
            margin-left: 17px;
            margin-bottom: -10px;
            font-family: sans-serif;
        }

        .dataTables_wrapper .btn-secondary {
            color: #235;
            background-color: transparent !important;
            border-color: transparent;
            font-size: x-large;
            margin: 0px !important;
        }

        .card-primary.card-outline-tabs > .card-header a.active {
            border-top: 3px solid #33CCCC;
        }

        a {
            color: #33CCCC;
        }

        .dataTables_length {
            margin-left: 300px;
            margin-bottom: -30px;
        }

        .card.card-outline-tabs .card-header a:hover {
            color: #33CCCC;
        }

        .card-primary.card-outline-tabs > .card-header a.active, .card-primary.card-outline-tabs > .card-header a.active:hover {
            border-top: 3px solid #33CCCC;
        }

        .card-body {
            font-family: Calibri !important;
            padding-bottom: 0px !important;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: #33CCCC;
            color: #000;
            text-align: center !important;
        }

        td {
            text-align: center;
            color: black !important;
        }

        .table td {
            padding: 0px 0px 0px 0px !important;
            font-size: 14px !important;
        }

        .table th {
            padding: 5px 5px 4px 10px !important;
            font-size: 14px !important;
        }

        table.dataTable > thead .sorting:after, table.dataTable > thead .sorting:before {
            font-size: xx-small !important;
        }

        div.dataTables_wrapper div.dataTables_filter {
            /*margin-top: -40px !important;*/
        }

        div.dt-buttons {
            margin-top: -20px !important;
        }

        .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }

        div.dataTables_wrapper div.dataTables_filter label {
            font-size: small !important;
        }

        div.dataTables_wrapper div.dataTables_filter input {
            height: 20px !important;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding: 0px !important;
            font-size: small !important;
        }

        div.dataTables_wrapper div.dataTables_paginate ul.pagination {
            /* margin-top: -20px !important;*/
        }

        div.dataTables_wrapper div.dataTables_paginate {
            font-size: small !important;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">
    <br />
    <div class="card " style="padding:5px;margin-right:20px;margin-left:10px; margin-top:-15px">
        <h2>Assign Schedule List</h2>
        <div class="add-buttons" style="margin-top:-20px">
            <button class="btn btn-custom" style="font-weight:bold; float:right" id="openModalBtn">
                <img src="~/Content/Admin/img/add-button.png" title="Add Assign Schedule" alt="view" height="30" width="30" /> Assign Schedule
            </button>
        </div>
        <div class="card-body" style="margin-top:-10px;">
            <table id="example1" class="table table-bordered">
                <thead>
                    <tr>
                        <th hidden>
                            @Html.DisplayNameFor(model => model.AssignScheduleId)
                        </th>
                        <th>
                            Course Name
                        </th>

                        <th>
                            Batch Name
                        </th>
                        <th>
                            Section Name
                        </th>
                        <th>
                            Topic Name
                        </th>
                        <th>
                            Lab Name
                        </th>
                        <th>
                            Duration
                        </th>
                        <th>
                            Start Date
                        </th>
                        <th>
                            End Date
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.lstAssingseduleGRid)
                    {
                        <tr>
                            <th hidden>
                                @Html.DisplayNameFor(model => model.AssignScheduleId)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BatchName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SectionName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TopicName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LabName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.STARTDATEA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ENDDATEA)
                            </td>
                            <td>
                                @if (item.Status == "Completed")
                                {
                                    <span class="badge bg-success">@Html.DisplayFor(modelItem => item.Status)</span>
                                }
                                @if (item.Status == "Ongoing")
                                {
                                    <span class="badge bg-gradient-primary">@Html.DisplayFor(modelItem => item.Status)</span>
                                }
                                @if (item.Status == "Assigned")
                                {
                                    <span class="badge bg-danger">@Html.DisplayFor(modelItem => item.Status)</span>
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("UpdateAssingSeduleAsyncVP", "Trainer", new { id = item.AssignScheduleId })" class="edit-button" title="EDIT">
                                    <video width="25" height="25" playsinline loop>
                                        <source src="~/Content/Admin/icon/Edit Details.mp4" type="video/mp4">
                                    </video>
                                </a>
                                <a href="#" class="delete-button" data-id="@item.AssignScheduleId" title="DELETE">
                                    <video width="25" height="25" playsinline loop>
                                        <source src="~/Content/Admin/icon/Delete 2.mp4" type="video/mp4">
                                    </video>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Assign Schedule</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Partial view content will be loaded here -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/plugins/jquery/jquery.min.js" type="text/javascript"></script>
    <!-- Bootstrap 4 -->
    @*<script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>*@
    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/Content/plugins/jszip/jszip.min.js" type="text/javascript"></script>
    <script src="~/Content/plugins/pdfmake/pdfmake.min.js" type="text/javascript"></script>
    <script src="~/Content/plugins/pdfmake/vfs_fonts.js" type="text/javascript"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js" type="text/javascript"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js" type="text/javascript"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.colVis.min.js" type="text/javascript"></script>
    <script src="~/Content/Admin/js/Icon.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.noConflict();
            var table = $('#example1').DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": true, "scrollX": false, "stateSave": true, lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'All']],
                "buttons": [
                    {
                        extend: 'copy',
                        text: '<img src="/Content/Admin/icon/copy.png" title="Copy" alt="Copy" height="20" width="20" />',
                        titleAttr: 'Copy'
                    },
                    {
                        extend: 'csv',
                        text: '<img src="/Content/Admin/icon/csv.jpg" title="Copy" alt="Copy" height="25" width="25" />',
                        titleAttr: 'CSV'
                    },
                    {
                        extend: 'excel',
                        text: '<img src="/Content/Admin/icon/xls-file.png" title="Copy" alt="Copy" height="20" width="20" />',
                        titleAttr: 'Excel'
                    },
                    {
                        extend: 'pdf',
                        text: '<img src="/Content/Admin/icon/pdf-file.png" title="Copy" alt="Copy" height="20" width="20" />',
                        titleAttr: 'PDF'
                    },
                    {
                        extend: 'print',
                        text: '<img src="/Content/Admin/icon/printer.png" title="Copy" alt="Copy" height="20" width="20" />',
                        titleAttr: 'Print'
                    },
                    {
                        extend: 'colvis',
                        text: '<img src="/Content/Admin/icon/column.jpg" title="Copy" alt="Copy" height="20" width="20" />',
                        titleAttr: 'Columns'
                    }
                ]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });</script>
    <script>
        $(document).ready(function () {
            $('#example1').on('click', '.delete-button', function () {
                var id = $(this).data('id');
                Swal.fire({
                    title: 'Delete Assig sedule',
                    text: 'Are you sure you want to delete this Assig sedule?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                }).then(function (result) {
                    if (result.value) {
                        $.ajax({
                            url: '/Trainer/TrainerAssingSeduleDelete/' + id,
                            type: 'POST',
                            success: function (data) {
                                if (data.success) {
                                    Swal.fire({
                                        title: 'Deleted!',
                                        text: data.message,
                                        icon: 'success'
                                    }).then(function () {
                                        // Optionally, you can redirect or reload the page
                                        location.reload();
                                    });
                                } else {
                                    Swal.fire('Error', data.message, 'error');
                                }
                            }
                        });
                    }
                });
            });
            $('.delete-button').mouseenter(function () {
                // Select the video element inside the link and play it
                $(this).find('video')[0].play();
                $(this).addClass('running');
            });

            $('.delete-button').mouseleave(function () {
                // Select the video element inside the link and pause it
                var video = $(this).find('video')[0];
                video.pause();
                video.currentTime = 0; // Reset the video to the beginning
                $(this).removeClass('running');
            });
        });
    </script>
    <script>
    $(document).ready(function () {
        $('#openModalBtn').click(function () {
            $.get('@Url.Action("RegisterAssignScheduleAsyncVP", "Trainer")', function (data) {
                // Assuming you have a modal with id 'myModal' to display the partial view
                $('#myModal .modal-body').html(data);
                $('#myModal').modal('show');
            });
        });
        $('#example1').on('click', '.edit-button', function (e) {
            e.preventDefault();

            var url = $(this).attr('href');

            $.get(url, function (data) {
                $('#myModal .modal-body').html(data);
                $('#myModal').modal('show');
            });
        });

    });
    </script>

</body>
</html>

