@model GSTEducationERPLibrary.Trainer.Trainer

@{
    ViewBag.Title = "ListAllAssignedProjectAsyncPG";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Management</title>
    <link rel="stylesheet" href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <style>

        th {
            background-color: #33CCCC;
            color: #000;
            text-align: center !important;
        }

        h2 {
            padding-top: 10px;
            margin-bottom: 10px;
            font-family: Verdana;
            font-weight: bold;
            font-size: medium;
            color: #33CCCC;
        }

        .dataTables_wrapper .btn-secondary {
            color: #235;
            background-color: transparent !important;
            border-color: transparent;
            font-size: x-large;
            margin: 0px !important;
        }

        a {
            color: #33CCCC;
        }

        .card-body {
            font-family: Calibri !important;
            padding-bottom: 0px !important;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        td {
            text-align: center;
            color: black !important;
        }

        .table td {
            padding: 0px 0px 0px 0px !important;
            font-size: 14px !important;
        }

        .table th {
            padding: 5px 5px 4px 10px !important;
            font-size: 14px !important;
        }
        table.dataTable > thead .sorting:after, table.dataTable > thead .sorting:before {
            font-size: xx-small !important;
        }

        div.dt-buttons {
            margin-top: -20px !important;
        }

        .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }

        div.dataTables_wrapper div.dataTables_filter label {
            font-size: small !important;
        }

        div.dataTables_wrapper div.dataTables_filter input {
            height: 20px !important;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding: 0px !important;
            font-size: small !important;
        }
        div.dataTables_wrapper div.dataTables_paginate {
            font-size: small !important;
        }
        
        button.video-link {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #17A2B8;
            color: #FFFFFF;
            border: none;
            padding: 5px;
            cursor: pointer;
            border-radius: 5px;
        }
        .image-style {
            width: 35px;
            height: auto;
        }
        .modal-content {
            background-color: white;
            max-height: 600px;
        }
        .close {
            font-size: 1.5rem; 
            border: none; 
            background: none; 
            padding: 0; 
            cursor: pointer; 
            outline: none; 
        }
            .close:hover {
                color: red; 
            }

        .modal-body {
            padding: 10px; 
        }
        .modal-dialog {
            max-width: 400px; 
        }

        .modal-body {
            overflow-y: auto; 
        }
        .custom-dropdown {
            height: 35px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">
    <br />
    <div class="card " style="padding:5px;margin-right:20px;margin-left:10px; margin-top:-15px">
        @*<div class="card-body">
                <div class="row">
                    <h2 class="col">Project Management</h2>
                    <div class="col-2 text-right">
                        <a href="@Url.Action("RegisterAssignProjectAsyncPG")" class="video-link" title="Assign Project">
                            <img src="~/Content/Admin/icon/save.jpeg" class="image-style" />
                        </a>

                        <a href="@Url.Action("ListAllProjectsAsyncPG")" class="video-link" title="All Projects">
                            <img src="~/Content/Admin/icon/AllProjects.jpg" class="image-style" />
                        </a>
                    </div>
                </div>
            </div>*@
        <div class="input-group">
            <div class="col-md-4">  <h2 class="col">Project Management</h2></div>
            <div class="col-md-2" style="padding-right:0px !important">
                <label for="CourseName" class="control-label" style="float: right; color:lightgray">Cource </label>
                @*@Html.LabelFor(model => model.CourseName, new { @class = "control-label", style = "float: right;" })*@
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.CourseName, ViewBag.CourceName as IEnumerable<SelectListItem>, "---Select---", new { @class = "form-control custom-dropdown", id = "CourseName" })
                @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("RegisterAssignProjectAsyncPG")" class="video-link" title="Assign Project" style="float:right">
                    <img src="~/Content/Admin/img/add-button.png" class="image-style" />
                </a>
            </div>
            <div class="col-md-1" style="padding-right:0px !important">
                <a href="@Url.Action("ListAllProjectsAsyncPG")" class="video-link" title="All Projects">
                    <img src="~/Content/Admin/icon/Allproject.jpg" class="image-style" />
                </a>
            </div>

        </div>
        <div class="card-body">
            <div class="card card-primary card-outline card-outline-tabs">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th hidden>SRNO</th>
                            <th hidden>Assign Project ID</th>
                            <th>Course Name</th>
                            <th>Batch Name</th>
                            <th>Project Name</th>
                            <th>Assigned Date</th>
                            <th>Duration</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int counter = 1;
                        }
                        @foreach (var item in Model.lstAssignedProject)
                        {
                            <tr>
                                <td hidden>
                                    @counter
                                    @{
                                        counter++;
                                    }
                                </td>
                                <td hidden>
                                    @Html.DisplayFor(modelItem => item.AssignProjectId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourceName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BatchName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProjectName)
                                </td>
                                <td>
                                    @item.AssignDate.ToString("yyyy-MM-dd")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Duration)
                                </td>
                                <td>
                                    @if (item.StatusName == "ProjectCompleted")
                                    {
                                        <span class="badge bg-success">@Html.DisplayFor(modelItem => item.StatusName)</span>
                                    }

                                    @if (item.StatusName == "AssignProject")
                                    {
                                        <span class="badge bg-blue">@Html.DisplayFor(modelItem => item.StatusName)</span>
                                    }
                                    @if (item.StatusName == "Sprint1Ongoing")
                                    {
                                        <span class="badge bg-gradient-blue">@Html.DisplayFor(modelItem => item.StatusName)</span>
                                    }

                                    @if (item.StatusName == "Sprint2Ongoing")
                                    {
                                        <span class="badge bg-gradient-blue">@Html.DisplayFor(modelItem => item.StatusName)</span>
                                    }
                                    @if (item.StatusName == "Sprint3Ongoing")
                                    {
                                        <span class="badge bg-gradient-blue">@Html.DisplayFor(modelItem => item.StatusName)</span>
                                    }
                                </td>
                                <td style="text-align: center;">
                                    <div class="table-data-feature">
                                        <a href="#" class="sectionEditLink" data-id="@item.AssignProjectId"
                                           data-url="@Url.Action("ListAssignProjectStudentAsyncPG", "Trainer", new { AssignProjectId = item.AssignProjectId })"
                                           data-toggle="modal" data-target="#StudentListModal" title="Students_List">
                                            <video width="25" height="25" playsinline loop>
                                                <source src="~/Content/Admin/icon/student.mp4" type="video/mp4" />
                                            </video>
                                        </a>
                                        @if (item.StatusName != "ProjectCompleted")
                                        {
                                            <a href="@Url.Action("AddedSprintsAsyncPG", new { AssignProjectId = item.AssignProjectId })" class="video-link" title="ChangeStatus">
                                                <video width="25" height="25" playsinline loop>
                                                    <source src="~/Content/Admin/icon/update_2.mp4" type="video/mp4" />
                                                </video>
                                            </a>
                                        }

                                        @if (item.StatusName == "ProjectCompleted" || item.StatusName == "Sprint1Ongoing" || item.StatusName == "Sprint2Ongoing" || item.StatusName == "Sprint3Ongoing")
                                        {
                                            <span title="Edit" style="cursor: not-allowed; opacity: 0.5;">
                                                <video width="25" height="25" playsinline loop>
                                                    <source src="~/Content/Admin/icon/Edit%20Details.mp4" type="video/mp4" />
                                                </video>
                                            </span>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("UpdateAssignProjectAsyncPG", new { id = item.AssignProjectId })" class="video-link" title="Edit">
                                                <video width="25" height="25" playsinline loop>
                                                    <source src="~/Content/Admin/icon/Edit%20Details.mp4" type="video/mp4" />
                                                </video>
                                            </a>
                                        }

                                        @*<a href="@Url.Action("DetailsAssignProjectAsyncPG", new { id = item.AssignProjectId })" class="video-link" title="View">
                                                <video width="25" height="25" playsinline loop>
                                                    <source src="~/Content/Admin/icon/view.mp4" type="video/mp4" />
                                                </video>
                                            </a>*@
                                        <a href="#" class="icon" data-id="@item.AssignProjectId" data-url="@Url.Action("DetailsAssignProjectAsyncPG", "Trainer", new { id = item.AssignProjectId })"
                                           data-toggle="modal" data-target="#EditTaskModal" title="View">
                                            <video width="25" height="25" playsinline loop>
                                                <source src="~/Content/Admin/icon/view.mp4" type="video/mp4" />
                                            </video>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal fade" id="SectionModal">
            <div class="modal-dialog" style="max-width: 400px; max-height:600px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Student List</h5>
                        <button class="close text-danger" data-dismiss="modal" style="position: absolute; top: 10px; right: 10px;">&times;</button>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="EditTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: #33CCCC;">Detail Assign Project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/Content/Admin/js/Icon.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example1').on('click', '.icon', function () {
                var TaskId = $(this).data('id');
                var url = $(this).data('url');
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (data) {
                        $('#EditTaskModal .modal-body').html(data);
                        $('#EditTaskModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example1').on('click', '.sectionEditLink', function () {
                var AssignProjectId = $(this).data('id');
                var url = $(this).data('url');
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (data) {
                        $('#SectionModal .modal-body').html(data);
                        $('#SectionModal').modal('show');
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.noConflict();
            var table = $('#example1').DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "buttons": [
                    {
                        extend: 'copy',
                        text: '<img src="/Content/Admin/icon/copy.png" title="Copy" alt="Copy" height="20" width="20" />',
                        titleAttr: 'Copy'
                    },
                    {
                        extend: 'csv',
                        text: '<img src="/Content/Admin/icon/csv.jpg" title="CSV" alt="CSV" height="25" width="25" />',
                        titleAttr: 'CSV'
                    },
                    {
                        extend: 'excel',
                        text: '<img src="/Content/Admin/icon/xls-file.png" title="xls" alt="xls" height="20" width="20" />',
                        titleAttr: 'Excel'
                    },
                    {
                        extend: 'pdf',
                        text: '<img src="/Content/Admin/icon/pdf-file.png" title="pdf" alt="pdf" height="20" width="20" />',
                        titleAttr: 'PDF'
                    },
                    {
                        extend: 'print',
                        text: '<img src="/Content/Admin/icon/printer.png" title="printer" alt="printer" height="20" width="20" />',
                        titleAttr: 'Print'
                    },
                    {
                        extend: 'colvis',
                        text: '<img src="/Content/Admin/icon/column.jpg" title="column" alt="column" height="20" width="20" />',
                        titleAttr: 'Columns'
                    }

                ]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
             $('#CourseName').change(function () {
            filterTable();
        });

        function filterTable() {
            var selectedCourse = $('#CourseName').val();
            if (selectedCourse === "---Select---") {
                selectedCourse = NULL;
            }
            $.ajax({
                url: '@Url.Action("ListAllAssignedProjectAsyncPG", "Trainer")',
                type: 'GET',
                data: { courseName: selectedCourse },
                success: function (result) {
                    $('#example1').html($(result).find('#example1').html());
                },
                error: function () {
                    alert('An error occurred while processing your request.');
                }
            });
        }
        });
    </script>
</body>
</html>