@model GSTEducationERPLibrary.Accountant.Accountant
@{
    ViewBag.Title = "View purchase invoice";
    var currency = Html.Raw(ViewBag.Currency);
    var mode = ViewBag.Mode;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Purchase | Invoice</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    @*<link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">*@
    <style>
        a {
            color: #33CCCC;
        }
    </style>
</head>
<body>
    <form id="ViewPurchaseFormAsyncVP">
        <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
                <div class="col-12">
                    <h4>
                        <img src="~/Content/Admin/img/GyaSoftLogo.png" height="35" /> GyaSoft, Limited.
                        <small class="float-right">Date: @ViewBag.TransactionDate</small>
                    </h4>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    From
                    <address>
                        <strong>Rahitech It Solution.</strong><br>
                        09, 3rd Floor, Upendra1<br>
                        Nal Stop, Erandwane, Pune, Maharashtra 411004<br>
                        Phone: 094217 76337<br>
                        Website: rahitech.com
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    To
                    <address>
                        <strong>@ViewBag.VendorName</strong><br>
                        @*795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            Phone: (555) 539-1037<br>
                            Email: john.doe@example.com*@
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <b>Invoice No. @ViewBag.TransactionCode</b><br>
                    <br>
                    @*<b>Order ID:</b> #####<br>*@
                    <b>Payment Date:</b> @ViewBag.TransactionDate<br>
                    @* <b>Account:</b> 968-34567*@
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Table row -->
            <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table table-striped" id="tblPurchasedItem">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Quantity (units)</th>
                                <th>Unit Price (@currency)</th>
                                <th>Discount(%)</th>
                                <th>Tax(%)</th>
                                <th>Discount Amount (@currency)</th>
                                <th>Tax Amount (@currency)</th>
                                <th>Total Price (@currency)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.lstPurchaseItemVP != null)
                            {
                                for (int i = 0; i < Model.lstPurchaseItemVP.Count; i++)
                                {
                                    var item = Model.lstPurchaseItemVP[i];
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ItemName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.UnitPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Discount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tax)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Balance)<!--this is discounted price-->
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AppliedTax)<!--this is applied tax amount calculation -->
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TransactionAmount)<!--this is total amount for the total item price-->
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                    <p class="lead">Payment Methods:</p>
                    <p>@ViewBag.PaymentMode</p>
                    @*<img src="../../dist/img/credit/visa.png" alt="Visa">
                        <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
                        <img src="../../dist/img/credit/american-express.png" alt="American Express">
                        <img src="../../dist/img/credit/paypal2.png" alt="Paypal">*@
                    <p class="lead">Description :</p>
                    <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                        @ViewBag.Description
                    </p>
                </div>
                <!-- /.col -->
                <div class="col-6">
                    <p class="lead">Amount Due @ViewBag.TransactionDate</p>

                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th style="width:50%">Subtotal:</th>
                                <td>@Html.Raw(@currency) <span class="lblsubtotalAmount"></span></td>
                            </tr>
                            <tr>
                                <th>Discount :</th>
                                <td>@Html.Raw(@currency) <span class="lbldiscountedAmount"></span></td>
                            </tr>
                            <tr>
                                <th>Tax :</th>
                                <td>@Html.Raw(@currency) <span class="lbltaxAmount"></span></td>
                            </tr>
                            <tr>
                                <th>Total:</th>
                                <td>@Html.Raw(@currency) <span class="lbltotalAmount"></span></td>
                            </tr>
                        </table>
                    </div>

                </div>
                <!-- /.col -->
            </div>
            <!--div for transactions here -->
            <div class="card" id="divtransaction">
                <!--show the transactions in table -->
                <div class="card-title">
                    <p>Transactions </p>
                </div>
                <div class="card-body">
                    <table class="table" id="tbltransactions">
                        <thead>
                            <tr>
                                <th>Date </th>
                                <th>Voucher Code</th>
                                <th>Payment Mode</th>
                                @if (mode == "BANK")
                                {
                                    <th>TransactionId/Cheque No.</th>

                                }
                                else if (mode == "CHEQUE")
                                {
                                    <th>TransactionId/Cheque No.</th>
                                    <th>Cheque Date</th>
                                    <th>Cheque Clearence Date</th>
                                }

                                <th>Amount Paid (@currency)</th>
                                <th>Balance Amount (@currency)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.lstTransactionVP != null)
                            {
                                for (int i = 0; i < Model.lstTransactionVP.Count; i++)
                                {
                                    var item = Model.lstTransactionVP[i];
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TransactionDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VoucherCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PaymentMode)
                                        </td>
                                        @if (mode == "BANK")
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TranId_CheqNo)
                                            </td>
                                        }
                                        else if (mode == "CHEQUE")
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TranId_CheqNo)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.ChequeDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ChequeClearenceDate)
                                            </td>
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TransactionAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BalanceAmount)
                                        </td>
                                    </tr>
                                }
                             }
                             else
                             {
                                <tr>
                                    No data found...
                                </tr>
                             }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- this row will not appear when printing -->
            <div class="row no-print">
                <div class="col-12">
                    <input type="button" href="ViewPurchaseFormAsyncVP.cshtml" value="Print this page" onClick="printForm('ViewPurchaseFormAsyncVP')">

                    
                </div>
            </div>
        </div>
    </form>
    <!--scripts here-->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!--scripts for pdf-->
    <script src="~/Content/plugins/pdfmake/pdfmake.js"></script>
    <script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            // Function to calculate the totals
            function calculateTotals() {
                var discountTotal = 0;
                var taxTotal = 0;
                var transactionTotal = 0;

                // Iterate through each row in the table
                $('#tblPurchasedItem tbody tr').each(function () {
                    var discountAmount = parseFloat($(this).find('td:eq(5)').text()) || 0;
                    var taxAmount = parseFloat($(this).find('td:eq(6)').text()) || 0;
                    var transactionAmount = parseFloat($(this).find('td:eq(7)').text()) || 0;

                    discountTotal += discountAmount;
                    taxTotal += taxAmount;
                    transactionTotal += transactionAmount;
                });

                // Update the summary table
                $('.lbldiscountedAmount').text(discountTotal.toFixed(2));
                $('.lbltaxAmount').text(taxTotal.toFixed(2));
                $('.lblsubtotalAmount').text((transactionTotal - discountTotal - taxTotal).toFixed(2));
                $('.lbltotalAmount').text(transactionTotal.toFixed(2));
            }

            // Call the function to calculate the totals on page load
            calculateTotals();
        });
    </script>
    <!--script for the print button-->
    <script>
        window.onload = function () {
            // Print button
            document.getElementById('printButton').addEventListener('click', function (event) {
                event.preventDefault();
                var printWindow = window.open(window.location.href, '_blank', 'noopener,noreferrer');
                printWindow.addEventListener('load', function () {
                    printWindow.print();
                });
            });
        };
        function printForm(divName) {
            debugger;
            var printContents = document.getElementById(divName).innerHTML;
            w = window.open();
            w.document.write(printContents);
            w.print();
            w.close();
        }
    </script>
  
</body>
</html>
