@model GSTEducationERPLibrary.Bind.Bind

<head>
    <link href="~/Content/Coordinator/css/DetailesCSS.css" rel="stylesheet" />
    <link href="~/Content/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <style>
        h2 {
            color: #64bbc9;
            font-weight: bold;
            font-size: 30px;
            margin-left: 17px;
            margin-bottom: -10px;
            font-family: sans-serif;
        }

        a {
            color: #01a6a6;
        }

        img {
            color: #64bbc9;
            font-weight: bold;
            font-size: 30px;
            margin-left: 17px;
            margin-bottom: -10px;
            font-family: sans-serif;
        }
    </style>
</head>
<div class="container-fluid">
    <div class="card mx-auto col-md-12">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <label>Batch Code:</label>
                    <span>@Model.BatchCode</span>
                </div>
                <div class="col-md-6">
                    <label>Batch Name:</label>
                    <span>@Model.BatchName</span>
                </div>
                <div class="col-md-6">
                    <label>Course Name:</label>
                    <span>@Model.CourseName</span>
                </div>
                <div class="col-md-6">
                    <label>Staff Name:</label>
                    <span>@Model.StaffName</span>
                </div>
                <div class="col-md-6">
                    <label>No Of Student:</label>
                    <span>@Model.NoOfStudent</span>
                </div>
                <div class="col-md-6">
                    <label>Create Date:</label>
                    <span>@Model.CreateDate.ToString("dd-MM-yyyy")</span>
                </div>

                <div class="col-md-6">
                    <label>Status:</label>
                    <span>@Model.Status</span>
                </div>

                <div class="col-md-12 text-center">
                    <input type="button" style="margin-top:10px" value="Close" id="cancelButton" class="btn btn-danger btn-sm" onclick="location.href = '@Url.Action("ListAllBatchAsyncST", "Bind")'" />

                </div>

            </div>
            <a data-toggle="tooltip" data-placement="top" title="Back" alt="Back" style="width: 60px; height: 35px; border: 0; " onclick="location.href = '@Url.Action("ListAllBatchAsyncST", "Bind")'">
                <video width="35" height="35" playsinline loop>
                    <source src="~/Content/Admin/icon/Back.mp4" type="video/mp4">
                </video>
            </a>
        </div>
    </div>
</div>